<!DOCTYPE html>
<html lang="en">

    <head>

        {% block title %}
        <title>Contenido:</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Versiones de Bootstrap y Ajax mas modernas -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                                                                                                            crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                                                                       crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                                                                                                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                                                                                          crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>

        <!-- Archivos Estaticos -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <style>

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #C7F2CF;
            }
        </style>

    </head>

    <body>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %}
                    <ul class="sidebar-nav">
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'propietarios' %}">Mostrar Propietarios</a>
                        </li>
                        <li>
                            <a href="{% url 'compradores' %}">Mostrar Compradores</a>
                        </li>
                        <li>
                            <a href="{% url 'propiedades' %}">Mostrar Propiedades</a>
                        </li>
                        <li>
                            <a href="{% url 'intermediarios' %}">Mostrar Intermediarios</a>
                        </li>
                        <li>
                            <a href="{% url 'visitas' %}">Mostrar Visitas</a>
                        </li>
                        <li>
                            <a href="{% url 'administraciones' %}">Adminsitracion</a>
                        </li>
                        <li>
                            <a href="{% url 'tweets' %}">Mostrar Tweets</a>
                        </li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="col-sm-10 ">

                    <p></p>

                    {% if request.path != "/dbconnection/" %}

                    <!-- Button trigger modal -->
                    <button id="addFilaB" type="button" class="btn btn-primary" data-toggle="modal" data-target="#filaAModal">
                        Agregar Fila
                    </button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#campoAModal">
                        Agregar Campo
                    </button>

                    {% endif %}

                    <p></p>

                    {% block content %}{% endblock %}

                    <!-- Modals -->
                    <div class="modal fade" id="campoAModal" tabindex="-1" role="dialog" aria-labelledby="campoALabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="campoALabel">Agregar Campo Adicional</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% block addform %}{% endblock %}
                                </div>
                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                    </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="filaAModal" tabindex="-1" role="dialog" aria-labelledby="filaALabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="filaALabel">Agregar Fila</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% block addFilaForm %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateLabel">Actualizar Fila</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% block updateFilaForm%}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </body>

</html>
