{% block addform %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="addCampo" type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
</form>
{% endblock %}

{% block addFilaForm %}
<form method="post">
    {% csrf_token %}
    {{ second_form.as_p }}
    {% for extra in campos_adicionales %}
    <label for="{{extra.nombre}}">{{extra.nombre}}: </label>
    <input id="{{extra.nombre}}" type="text" name="ca{{extra.id}}">
    <p></p>
    {% endfor %}
    <input name='addFila' type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
</form>
{% endblock %}

{% block updateFilaForm %}
<form method="post" id="uForm">
</form>
{% endblock %}
