{% extends "base_generic.html" %}
{% load dbfilters %}

{% block content %}
<h1>Administracion</h1>
Catalogo de intermediarios segun su reputación
<hr>
{% if object_list %}
<ul>
  {% regroup object_list by reputacion as reputacion_list%}
  <ul>
  {% for reputacion in reputacion_list%}
      <hr>
      <li>
        {{reputacion.grouper}}
        <hr>
      <ul>
      
      <table>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Experiencia</th>
          <th>Comision</th>
        </tr> 
        {% for intermediario in reputacion.list %}
        <tr>
          <td>{{intermediario.id}}</td>
          <td>{{intermediario.nombre}}</td>
          <td>{{intermediario.experiencia}} años</td>
          <td>{{intermediario.comision}} %</td>
        </tr>
        {% endfor %}
      </table>
    
    </ul>
    </li>
  {% endfor %}

  </ul>
{% else %}
  <p>No hay interacciones.</p>
{% endif %}       
{% endblock %}