{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Compradores</h1>
    <hr>
    {% if comprador_list %}
    <ul>
      <table>
        <tr>
          <th>ID</th>
          <th>Activo</th>
          <th>Nombre</th>
          <th>Sexo</th>
          <th>Edad</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>FechaInicio</th>
          <th>Reputacion</th>
          <th>Busca cerca de</th>
          <th>Busca</th>
          <th>Presupuesto</th>
          {% for i in campos_adicionales %}
          <th>{{i.nombre}}</th>
          {% endfor %}
          <th>Foto</th>
        </tr>
      {% for comprador in comprador_list %}
        <tr>
          <td>{{comprador.id}}</td>
          <td>{{comprador.activo}}</td>
          <td>{{comprador.nombre}}</td>
          <td>{{comprador.sexo}}</td>
          <td>{{comprador.edad}}</td>
          <td>{{comprador.telefono}}</td>
          <td>{{comprador.mail}}</td>
          <td>{{comprador.fechaInicio}}</td>
          <td>{{comprador.reputacion}}</td>
          <td>{{comprador.zona}}</td>
          <td>{{comprador.tipoPropiedad}}</td>
          <td>{{comprador.presupuesto}}</td>
          
          <td>{{comprador.foto}}</td>
        </tr>
      {% endfor %}
      </table>
    </ul>
    {% else %}
      <p>No hay compradores registrados.</p>
    {% endif %}       
{% endblock %}

{% block addform %}
  <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <input type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
  </form>
{% endblock %}