{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Intermediarios</h1>
    <hr>
    {% if intermediario_list %}
    <ul>
      <table>
        <tr>
          <th>ID</th>
          <th>Activo</th>
          <th>Nombre</th>
          <th>Sexo</th>
          <th>Edad</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Twitter</th>
          <th>FechaInicio</th>
          <th>Reputacion</th>
          <th>Comision</th>
          <th>Experiencia</th>
          <th>Foto</th>
          {% for i in campos_adicionales %}
            <th>{{i.nombre}}</th>
          {% endfor %}
        </tr>
      {% for intermediario in intermediario_list %}
        <tr>
          <td>{{intermediario.id}}</td>
          <td>{{intermediario.activo}}</td>
          <td>{{intermediario.nombre}}</td>
          <td>{{intermediario.sexo}}</td>
          <td>{{intermediario.edad}} años</td>
          <td>{{intermediario.telefono}}</td>
          <td>{{intermediario.mail}}</td>
          <td>{{intermediario.cuenta}}</td>
          <td>{{intermediario.fechaInicio}}</td>
          <td>{{intermediario.reputacion}}</td>
          <td>{{intermediario.comision}} %</td>
          <td>{{intermediario.experiencia}} años</td>
          <td>{{intermediario.foto}}</td>
        </tr>
      {% endfor %}
    </table>
    </ul>
    {% else %}
      <p>No hay intermediarios registrados.</p>
    {% endif %}       
{% endblock %}

{% block addform %}
  <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <input type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
  </form>
{% endblock %}