{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Intermediarios</h1>
    <hr>
    {% if intermediario_list %}
    <ul>
      <table>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Experiencia</th>
          <th>Comision</th>
          {% for i in campos_adicionales %}
          <th>{{i.nombre}}</th>
          {% endfor %}
        </tr>
      {% for intermediario in intermediario_list %}
        <tr>
          <td>{{intermediario.id}}</td>
          <td>{{intermediario.nombre}}</td>
          <td>{{intermediario.experiencia}}</td>
          <td>{{intermediario.comision}}</td>
        </tr>
      {% endfor %}
    </table>
    </ul>
    {% else %}
      <p>No hay intermediarios registrados.</p>
    {% endif %}       
{% endblock %}

{% block addform %}
  <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <input type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
  </form>
{% endblock %}