{% extends "base_generic.html" %}
{% load dbfilters %}

{% block content %}

{% include "scripts_template.html" %}

<h1 id="proplista">Lista de Propietarios</h1>
<hr>
{% if object_list %}
<ul>
    <table>
        <tr>
            <th>ID</th>
            <th>Activo</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Twitter</th>
            <th>FechaInicio</th>
            <th>Reputacion</th>
            <th>Direccion</th>
            <th>Foto</th>
            {% for i in campos_adicionales %}
            <th>{{i.nombre}}</th>
            {% endfor %}
        </tr>
        {% for propietario in object_list %}
        <tr>
            <td>
                <button type="button" class="btn btn-secondary updateB" data-toggle="modal" data-target="#updateModal">{{propietario.id}}</button>
            </td>
            <td>{{propietario.activo}}</td>
            <td>{{propietario.nombre}}</td>
            <td>{{propietario.sexo}}</td>
            <td>{{propietario.edad}}</td>
            <td>{{propietario.telefono}}</td>
            <td>{{propietario.mail}}</td>
            <td>{{propietario.cuenta}}</td>
            <td>{{propietario.fechainicio}}</td>
            <td>{{propietario.reputacion}}</td>
            <td>{{propietario.direccion}}</td>
            <td>{{propietario.foto}}</td>
            {% for campo in campos_adicionales %}
            <td>{{propietario|extraKeyValue:campo.id}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</ul>
{% else %}
<p>No hay propietario registrados.</p>
{% endif %}
{% endblock %}

{% block addform %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="addCampo" type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
</form>
{% endblock %}

{% block addFilaForm %}
<form method="post">
    {% csrf_token %}
    {{ second_form.as_p }}
    {% for extra in campos_adicionales %}
    <label for="{{extra.nombre}}">{{extra.nombre}}: </label>
    <input id="{{extra.nombre}}" type="text" name="ca{{extra.id}}">
    <p></p>
    {% endfor %}
    <input name='addFila' type="submit" value="Agregar" class="btn btn-primary" style="float:right"/>
</form>
{% endblock %}

{% block filtrarForm %}
<form method="post"> 
    {% csrf_token %}
    {{ third_form.as_p }}
    <input name="filtrar" type="submit" value="Filtrar" class="btn btn-primary">
 </form>
{% endblock %}

{% block updateFilaForm %}
<form method="post" id="uForm">
</form>
{% endblock %}

