{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de Propiedades</h1>

    {% if propiedad_list %}
    <ul>
      <table>
        <tr>
          <th>ID</th>
          <th>Direccion</th>
          <th>Tipo</th>
          <th>Tamaño</th>
          <th>Valuacion</th>
          <th>Informacion</th>
          <th>Foto</th>
          {% for i in campos_adicionales %}
          <th>{{i.nombre}}</th>
          {% endfor %}
        </tr>
      {% for propiedad in propiedad_list %}
      <tr>
          <td>{{propiedad.id}}</td>
          <td>{{propiedad.direccion}}</td>
          <td>{{propiedad.tipo}}</td>
          <td>{{propiedad.tamano}}</td>
          <td>{{propiedad.valuacion}}</td>
          <td>{{propiedad.informacion}}</td>
          <td>{{propiedad.foto}}</td>
        </tr>
      {% endfor %}
      </table>
    </ul>
    {% else %}
      <p>No hay propiedades registradas.</p>
    {% endif %}       
{% endblock %}

{% block addform %}
  <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <input type="submit" value="Save" />
  </form>
{% endblock %}