{% extends "base_generic.html" %}

{% block content %}
    <h1>Visitas por comprador</h1>
    <hr>
    {% if visita_list %}
    {{visita_list}}
    <ul>
      <table>
        <tr>
          <th>Comprador</th>
          <td>fecha</th>
          <td>Propiedad</th>
          <td>Atendido por:</th>
        </tr>
      {% regroup visita_list by comprador_nombre as comprador_list%}
      {% for comprador in comprador_list %}
        <tr>
            <th rowspan="3">{{comprador.grouper}}
              <ul>
                <li>holis </li>
              </ul>
            </th>
        </tr>
        {% for visita in comprador.list%}
          <tr>
            <td>{{visita.fecha}}<td>
            
          </tr>  
        {% endfor %}
      {% endfor %}

      </table>
      {% else %}
      <p>No hay visitas.</p>
    {% endif %}      
    </ul>
    
          
{% endblock %}